ROOT_USER=
ROOT_PASSWORD=
DATABASE_URL=
FUTURES_EXCHANGE=BITGET
MEXC_API_KEY=
MEXC_API_SECRET=
MEXC_WEB_AUTH_TOKEN=
BITGET_API_KEY=
BITGET_API_SECRET=
BITGET_API_PASSPHRASE=
BLOFIN_API_KEY=
BLOFIN_API_SECRET=
BLOFIN_API_PASSPHRASE=
TELEGRAM_BOT_TOKEN=
LOGIN_ENABLED=
SIGNALS_RUN_VIA_CRON_PATTERN=
BACKGROUND_TASKS_ENABLED=
FUTURES_EXCHANGE_DEBUG_MODE=
